<!DOCTYPE html>
<html lang="es">

<head>
    <title>rutinas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
    <img src="Logo.JPG" alt="Logo ProgresoFit">
    <h1>ProgresoFit</h1>    
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/rutinas">rutinas</a></li>
            <li><a href="/gimnasios">gimnasios</a></li>
            <li><a href="/feed">feed</a></li>
        </ul>

        <div class="nav-acciones">
            <a href="/crearCuenta">Registro</a>
            <a href="/user">perfil</a>
        </div>
    </nav>
</header>
    <main>
        <h2>Elige tu programa segun tu objetivo</h2>
        <ul>
            <li>
                <a href="/rutina1">
                    <article>
                        <h3>Rutina #1</h3>
                        <p>Entrenador</p>
                        <p>fecha inicio y final</p>
                        <p>objetivo</p>
                    </article>
                </a>
            </li>
            <li>
                <a href="/rutina2">
                    <article>
                        <h3>Rutina #2</h3>
                        <p>Entrenador</p>
                        <p>fecha inicio y final</p>
                        <p>objetivo</p>
                    </article>
                </a>
            </li>
            <li>
                <a href="/rutina3">
                    <article>
                        <h3>Rutina #3</h3>
                        <p>Entrenador</p>
                        <p>fecha inicio y final</p>
                        <p>objetivo</p>
                    </article>
                </a>
            </li>
        </ul>
        <h2>Programas especiales de 28 dias</h2>
        <ul>
            <li>
                <a href="/autocuidado">
                   <article>
                        <h3>Autocuidado</h3>
                        <p>Las mejores rutinas para el cuidado personal</p>
                   </article> 
                </a>
            </li>
            <li>
                <a href="/principiante">
                   <article>
                        <h3>Principiante</h3>
                        <p>Tenes que ver esto si estas comenzando a entrenarte</p>
                   </article> 
                </a>
            </li>
        </ul>
    </main>
    <footer>
            <section aria-label="Redes sociales">
                <h2>Seguinos</h2>
                <ul>
                    <li><a href="https://www.instagram.com" target="_blank"
                            rel="noopener noreferrer">Instagram</a></li>
                    <li><a href="https://www.twitter.com" target="_blank"
                            rel="noopener noreferrer">Twitter</a></li>
                    <li><a href="https://www.facebook.com" target="_blank"
                            rel="noopener noreferrer">Facebook</a></li>
                </ul>
            </section>

            <nav aria-label="Enlaces del sitio">
                <h2>Paw Print</h2>
                <ul>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="help.html">Ayuda</a></li>
                </ul>
            </nav>

            <section>
                <h2>Atención al cliente</h2>
                <address>
                    +54 9 11 5555-5555<br>
                    <a href="mailto:atencion@pawprint.com">atencion@pawprint.com</a><br>
                    Calle Falsa 123
                </address>
            </section>

            <section aria-label="Información legal">
                <img src="img/logo.png" alt="Data fiscal">
                <p><small>© 2026 ProgresoFit. Todos los derechos reservados.</small></p>
            </section>
    </footer>

</body>